.footer {
  padding-bottom: 50px;

  &__container {
    flex-direction: column;
    row-gap: 30px;

    transform: translate(-13px, 3px);
  }

  &__content {
    z-index: 1;

    position: relative;

    &:before {
      position: absolute;
      content: url(../img/footer-line.svg);
      top: 10px;
      left: 47px;

      z-index: 1;
    }

    &:after {
      position: absolute;
      content: url(../img/footer-rect.svg);
      top: -9px;
      right: -20px;

      z-index: 0;
    }
  }

  &__text {
    color: var(--light-color);
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
    word-spacing: 28px;

    z-index: 1;
  }

  &__copyright {
    color: var(--light-color);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 1.05px;
    text-transform: uppercase;

    opacity: .5;

    transform: translate(13px, 3px);
  }
}
