.travel {
  position: relative;

  min-height: 1718px;

  @include big-desktop {
    min-height: 1630px;
  }

  @include small-desktop {
    min-height: 1570px;
  }

  @include small-tablet {
    min-height: 1460px;
  }

  @include bg-mobile {
    min-height: 1410px;
  }

  &:before {
    position: absolute;
    content: url(../img/travel-bg-1.png);

    left: 0;
    top: 73px;

    @include small-desktop {
      content: url(../img/travel-bg-1_05x.svg);

      top: 60px;
    }

    @include bg-mobile {
      content: url(../img/travel-bg-1_025x.svg);

      top: 25px;
      left: 21px;
    }
  }

  &:after {
    position: absolute;
    content: url(../img/travel-bg-2.png);

    right: 0;
    bottom: 60px;

    @include big-desktop {
      content: url(../img/travel-bg-2_05x.png);

      bottom: 220px;
    }

    @include small-desktop {
      bottom: 140px;
    }

    @include small-tablet {
      bottom: 51px;
    }

    @include bg-mobile {
      bottom: 25px;
    }
  }

  &__title {
    position: relative;

    line-height: 140px;

    width: max-content;

    padding-left: 108px;

    margin-bottom: 90px;

    &:before {
      position: absolute;
      content: url(../img/surf-section-divide.svg);

      top: -69px;
      right: 0;

      @include bg-mobile {
        top: -60px;
      }
    }

    @include small-desktop {
      padding-left: 0;

      margin-bottom: 0;
    }

    @include bg-mobile {
      line-height: 75px;
    }
  }
}

.travel__slider {
  position: absolute;

  min-height: 1380px;
  width: 100%;

  left: 0;
}

.travel-slide {
  position: relative;

  min-height: 1324px;
  width: 100%;

  @include small-tablet {
    min-height: 1200px;
  }

  &__image {
    width: 1113px;

    object-fit: cover;

    position: absolute;

    left: 0;
    top: -82px;

    padding-top: 50px;

    @include bg-mobile {
      top: -50px;
    }
  }

  &__top {
    position: absolute;

    top: 58px;
    right: 84px;

    @include small-tablet {
      top: 38px;
      right: 25px;
    }

    @include bg-mobile {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__subtitle {
    margin: 0;

    color: var(--light-color);
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 7.333px;
    text-transform: uppercase;

    opacity: .5;

    position: relative;

    transform: translateX(7px);

    &:before {
      position: absolute;

      content: url(../img/travel-line.svg);

      right: 128px;
      bottom: 8px;

      @include bg-mobile {
        display: none;
      }
    }

    &--bottom {
      text-align: left;

      margin-left: -6px;

      &:after {
        position: absolute;

        content: url(../img/travel-line.svg);

        right: 177px;
        bottom: 8px;

        @include small-tablet {
          right: 150px;
        }

        @include bg-mobile {
          display: none;
        }
      }

      &:before {
        content: none;
      }
    }

    @include bg-mobile {
      align-self: flex-end;
    }
  }

  &__descr {
    color: var(--light-color);
    text-align: right;
    font-size: 40px;
    font-weight: 800;
    line-height: 69px;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 34px;
    }

    @include bg-mobile {
      line-height: 40px;

      text-align: left;

      padding-left: 20px;
    }

    &--bottom {
      @include bg-mobile {
        padding-left: 0;
      }
    }
  }

  &__dash {
    font-weight: 250;

    @include bg-mobile {
      display: none;
    }
  }

  &__bottom {
    position: absolute;

    left: 132px;
    top: 644px;

    @include big-desktop {
      left: 60px;
    }

    @include small-tablet {
      top: 569px;
      left: 30px;
    }

    @include big-desktop {
      top: 215px;
    }
  }

  &__img {
    width: 52px;
    height: 46px;

    object-fit: cover;

    padding-left: 22px;

    transform: translateY(7px);
  }

  &__pic {
    position: absolute;

    right: 0;
    bottom: 491px;

    @include big-desktop {
      width: 600px;
    }

    @include small-desktop {
      width: 480px;
    }

    @include small-tablet {
      width: 360px;
    }

    @include bg-mobile {
      bottom: 465px;

      width: 305px;
    }
  }

  &__footer {
    position: absolute;

    bottom: 397px;

    width: 100%;

    padding: 0 172px;

    box-sizing: border-box;

    @include big-desktop {
      padding: 0 100px;
    }

    @include small-tablet {
      bottom: 200px;
    }

    @include bg-mobile {
      bottom: 200px;

      padding: 0 70px;
    }
  }

  &__list {
    justify-content: space-between;

    @include big-desktop {
      justify-content: flex-start;
      gap: 99px;
    }

    @include tablet {
      gap: 77px;
    }

    @include small-tablet {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 140px;
    }
  }

  &__item {
    position: relative;
  }

  &__caption {
    margin: 0;

    transform: rotate(-90deg);

    color: var(--light-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: right;

    opacity: 0.5;

    position: absolute;

    top: 82px;
    left: -125px;

    width: 190px;

    @include small-desktop {
      font-size: 16px;
    }
  }

  &__text {
    color: var(--light-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;

    display: block;

    max-width: 242px;

    @include small-desktop {
      font-size: 30px;
    }

    @include bg-mobile {
      font-size: 34px;
    }
  }

  &__string {
    color: var(--light-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 5.25px;
    text-transform: uppercase;

    opacity: 0.75;

    position: absolute;
    right: -7px;
  }

  &__booking {
    position: absolute;
    bottom: 158px;

    width: 100%;

    align-items: center;
    gap: 16px;

    transform: translateX(-12px);

    cursor: pointer;

    transition: .3s ease-in-out opacity;

    &:after {
      position: absolute;
      content: url(../img/surf-card-dash.svg);

      width: 20px;
      height: 1px;

      top: 0;
      left: 47.5%;

      z-index: 2;

      @include small-desktop {
        left: 46.5%;
      }

      @include small-tablet {
        display: none;
      }
    }

    &:focus {
      outline: none;
    }

    @include hover {
      opacity: .8;
    }

    @include small-tablet {
      bottom: 25px;
    }

    @include bg-mobile {
      bottom: 15px;
    }
  }

  &__book {
    position: relative;

    color: var(--light-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 26px;

    display: block;

    padding-left: 4px;

    z-index: 1;

    &:after {
      position: absolute;
      content: url(../img/travel-rect.svg);

      width: 201px;
      height: 80px;

      left: 128px;
      top: -27px;

      z-index: -1;

      @include small-desktop {
        left: 115px;
      }

      @include small-tablet {
        content: url(../img/travel-rect_05x.svg);

        top: -19px;
        left: 92px;
      }
    }

    @include small-desktop {
      font-size: 36px;
    }

    @include small-tablet {
      font-size: 32px;
      word-spacing: normal;
    }
  }

  &__btn {
    &:focus {
      outline: none;
    }

    @include hover {
      opacity: .75;
    }

    &:active {
      background-color: var(--active-color);
    }
  }
}

.travel-navigation {
  position: absolute;

  right: 81px;
  top: 176px;

  gap: 20px;

  @include small-tablet {
    right: 25px;
  }

  @include bg-mobile {
    top: 40px;
  }
}

.travel-slide__list > .travel-slide__item:nth-child(even) > .travel-slide__text {
  white-space: nowrap;
}

.travel-slide__list > .travel-slide__item:nth-child(3) > .travel-slide__caption, .travel-slide__list > .travel-slide__item:nth-child(4) > .travel-slide__caption {
  margin-left: -11px;

  @include small-tablet {
    margin-left: 0;
  }
}

.travel-slide__list > .travel-slide__item:nth-child(3) > .travel-slide__text {
  margin-left: -11px;

  @include bg-mobile {
    margin-left: 0;
  }
}

.travel-slide__list > .travel-slide__item:nth-child(4) > .travel-slide__text {
  margin-top: 4px;
  margin-left: -9px;

  @include bg-mobile {
    margin-left: 0;
  }
}

.travel-slide__booking:focus-visible {
  background-color: red;
}
