<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Go Surf</title>
  <link rel="preload" href="../resources/fonts/FiraSans-Thin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../resources/fonts/FiraSans-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../resources/fonts/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../resources/fonts/FiraSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../resources/fonts/FiraSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
