<section class="hero" id="hero">
  <div class="hero__container">
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__slide hero__slide">
            <img src="img/hero-bg.jpg" alt="West Shore image" class="hero__image">

            <div class="slider-navigation hero-navigation hero-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <img src="img/hero-map.svg" alt="Map" class="hero__map">

            <div class="hero__content">
              <h2 class="hero__title">Surf</h2>

              <span class="hero__descr">West Shore</span>

              <h2 class="hero__title hero__title--bottom">Condition</h2>

              <span class="hero__descr hero__descr--bottom">Radical</span>

              <div class="hero-navigation slider-navigation hero-navigation__middle flex">
                <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                  <img src="img/svg/right-arrow.svg" alt="">
                </button>
              </div>
            </div>

            <div class="hero__bottom-content flex">
              <!-- onclick="down()" -->
              <a href="#surf" class="btn-reset btn-down">
                  <img src="img/svg/down-arrows.svg" class="btn-down__icon" alt="" data-scroll>
              </a>

              <div class="hero-navigation hero-navigation__bottom">
                <ul class="hero-navigation__list list-reset flex-v-center">
                  <li class="hero-navigation__item hero-navigation__item--active">
                    <span class="hero-navigation__num">01</span>
                    <span class="hero-navigation__descr">North Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">02</span>
                    <span class="hero-navigation__descr">South Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">03</span>
                    <span class="hero-navigation__descr">West Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">04</span>
                    <span class="hero-navigation__descr">East Shore</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__slide hero__slide">
            <img src="img/hero-bg.jpg" alt="West Shore image" class="hero__image">

            <div class="slider-navigation hero-navigation hero-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <img src="img/hero-map.svg" alt="Map" class="hero__map">

            <div class="hero__content">
              <h2 class="hero__title">Surf</h2>

              <span class="hero__descr">South Shore</span>

              <h2 class="hero__title hero__title--bottom">Condition</h2>

              <span class="hero__descr hero__descr--bottom">Radical</span>

              <div class="hero-navigation hero-navigation__middle flex">
                <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                  <img src="img/svg/right-arrow.svg" alt="">
                </button>
              </div>
            </div>

            <div class="hero__bottom-content flex">
              <button class="btn-reset btn-down" onclick="down()">
                <img src="img/svg/down-arrows.svg" alt="">
              </button>

              <div class="hero-navigation hero-navigation__bottom">
                <ul class="hero-navigation__list list-reset flex-v-center">
                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">01</span>
                    <span class="hero-navigation__descr">North Shore</span>
                  </li>

                  <li class="hero-navigation__item hero-navigation__item--active">
                    <span class="hero-navigation__num">02</span>
                    <span class="hero-navigation__descr">South Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">03</span>
                    <span class="hero-navigation__descr">West Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">04</span>
                    <span class="hero-navigation__descr">East Shore</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__slide hero__slide">
            <img src="img/hero-bg.jpg" alt="West Shore image" class="hero__image">

            <div class="slider-navigation hero-navigation hero-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <img src="img/hero-map.svg" alt="Map" class="hero__map">

            <div class="hero__content">
              <h2 class="hero__title">Surf</h2>

              <span class="hero__descr">West Shore</span>

              <h2 class="hero__title hero__title--bottom">Condition</h2>

              <span class="hero__descr hero__descr--bottom">Radical</span>

              <div class="hero-navigation hero-navigation__middle flex">
                <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                  <img src="img/svg/right-arrow.svg" alt="">
                </button>
              </div>
            </div>

            <div class="hero__bottom-content flex">
              <button class="btn-reset btn-down" onclick="down()">
                <img src="img/svg/down-arrows.svg" alt="">
              </button>

              <div class="hero-navigation hero-navigation__bottom">
                <ul class="hero-navigation__list list-reset flex-v-center">
                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">01</span>
                    <span class="hero-navigation__descr">North Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">02</span>
                    <span class="hero-navigation__descr">South Shore</span>
                  </li>

                  <li class="hero-navigation__item hero-navigation__item--active">
                    <span class="hero-navigation__num">03</span>
                    <span class="hero-navigation__descr">West Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">04</span>
                    <span class="hero-navigation__descr">East Shore</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__slide hero__slide">
            <img src="img/hero-bg.jpg" alt="West Shore image" class="hero__image">

            <div class="slider-navigation hero-navigation hero-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <img src="img/hero-map.svg" alt="Map" class="hero__map">

            <div class="hero__content">
              <h2 class="hero__title">Surf</h2>

              <span class="hero__descr">East Shore</span>

              <h2 class="hero__title hero__title--bottom">Condition</h2>

              <span class="hero__descr hero__descr--bottom">Radical</span>

              <div class="hero-navigation hero-navigation__middle flex">
                <button class="btn-reset slider-navigation__btn hero-navigation__btn hero__next">
                  <img src="img/svg/right-arrow.svg" alt="">
                </button>
              </div>
            </div>

            <div class="hero__bottom-content flex">
              <button class="btn-reset btn-down" onclick="down()">
                <img src="img/svg/down-arrows.svg" alt="">
              </button>

              <div class="hero-navigation hero-navigation__bottom">
                <ul class="hero-navigation__list list-reset flex-v-center">
                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">01</span>
                    <span class="hero-navigation__descr">North Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">02</span>
                    <span class="hero-navigation__descr">South Shore</span>
                  </li>

                  <li class="hero-navigation__item">
                    <span class="hero-navigation__num">03</span>
                    <span class="hero-navigation__descr">West Shore</span>
                  </li>

                  <li class="hero-navigation__item hero-navigation__item--active">
                    <span class="hero-navigation__num">04</span>
                    <span class="hero-navigation__descr">East Shore</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</section>
