<section class="shop" id="shop">
  <div class="container shop__container">
    <h2 class="title shop__title">Shop</h2>

    <div class="swiper shop__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="shop-slide">
            <img src="img/shop-bg.png" width="1100" alt="Australia Beach" class="shop-slide__image">

            <div class="slider-navigation shop-navigation shop-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn travel-navigation__btn shop__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn travel-navigation__btn shop__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="shop-slide__content">
              <div class="shop-slide__left">
                <h3 class="shop-slide__caption">Style</h3>

                <span class="shop-slide__text">North Nugget TT&shy; Surfboard</span>

                <div class="shop-slide__rating">
                  <img src="img/sleep-stars.svg" alt="Five stars raiting" width="186" height="54" class="shop-slide__pic">

                  <span class="shop-slide__price">$799<span class="shop-slide__coins">99</span></span>
                </div>

                <div class="shop-slide__drop">
                  <span class="shop-slide__descr">Drop In</span>

                  <a href="#hero" class="surf-card__btn shop__btn btn-reset" data-scroll>
                    <img src="img/svg/right-arrow.svg" alt="">
                  </a>
                </div>
              </div>

              <div class="shop-slide__picture">
                <img src="img/shop-board.png" alt="" class="shop-slide__img">

                <div class="shop-point">
                  <img src="img/shop-plus.svg" alt="" class="shop-point__img">

                  <img src="img/shop-line.svg" alt="" class="shop-point__line">

                  <div class="shop-point__info">
                    <p class="shop-point__descr">Double Concave with Vee Shape low point</p>
                  </div>
                </div>

                <div class="shop-point">
                  <img src="img/shop-plus.svg" alt="" class="shop-point__img">

                  <img src="img/shop-line.svg" alt="" class="shop-point__line">

                  <div class="shop-point__info">
                    <p class="shop-point__descr">Double Concave with Vee Shape low point</p>
                  </div>
                </div>

                <div class="shop-point">
                  <img src="img/shop-plus.svg" alt="" class="shop-point__img">

                  <img src="img/shop-line.svg" alt="" class="shop-point__line">

                  <div class="shop-point__info">
                    <p class="shop-point__descr">Double Concave with Vee Shape low point</p>
                  </div>
                </div>
              </div>

              <div class="shop-slide__extras">
                <h3 class="shop-slide__subtitle">Extras</h3>

                <ul class="shop-slide__list list-reset flex">
                  <li class="shop-slide__item">
                    <img src="img/shop-pic-1.png" alt="" class="shop-slide__logo shop-slide__logo--one">

                    <span class="shop-slide__heading">Sex Wax</span>
                    <span class="shop-slide__cost">$24.99</span>
                  </li>

                  <li class="shop-slide__item">
                    <img src="img/shop-pic-2.png" alt="" class="shop-slide__logo shop-slide__logo--two">

                    <span class="shop-slide__heading">Pura Vida</span>
                    <span class="shop-slide__cost">$27.99</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="shop-slide">
            <img src="img/shop-bg.png" width="1100" alt="Australia Beach" class="shop-slide__image">

            <div class="slider-navigation shop-navigation shop-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn travel-navigation__btn shop__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn travel-navigation__btn shop__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="shop-slide__content">
              <div class="shop-slide__left">
                <h3 class="shop-slide__caption">Style</h3>

                <span class="shop-slide__text">North Nugget TT&shy; Surfboard</span>

                <div class="shop-slide__rating">
                  <img src="img/sleep-stars.svg" alt="" class="shop-slide__pic">

                  <span class="shop-slide__price">$799<span class="shop-slide__coins">99</span></span>
                </div>

                <div class="shop-slide__drop">
                  <span class="shop-slide__descr">Drop In</span>

                  <a href="#hero" class="surf-card__btn shop__btn btn-reset" data-scroll>
                    <img src="img/svg/right-arrow.svg" alt="">
                  </a>
                </div>
              </div>

              <div class="shop-slide__picture">
                <img src="img/shop-board.png" alt="Surfing Board" width="228" height="695" class="shop-slide__img">

                <div class="shop-point">
                  <img src="img/shop-plus.svg" alt="" class="shop-point__img">

                  <img src="img/shop-line.svg" alt="" class="shop-point__line">

                  <div class="shop-point__info">
                    <p class="shop-point__descr">Double Concave with Vee Shape low point</p>
                  </div>
                </div>

                <div class="shop-point">
                  <img src="img/shop-plus.svg" alt="" class="shop-point__img">

                  <img src="img/shop-line.svg" alt="" class="shop-point__line">

                  <div class="shop-point__info">
                    <p class="shop-point__descr">Double Concave with Vee Shape low point</p>
                  </div>
                </div>

                <div class="shop-point">
                  <img src="img/shop-plus.svg" alt="" class="shop-point__img">

                  <img src="img/shop-line.svg" alt="" class="shop-point__line">

                  <div class="shop-point__info">
                    <p class="shop-point__descr">Double Concave with Vee Shape low point</p>
                  </div>
                </div>
              </div>

              <div class="shop-slide__extras">
                <h3 class="shop-slide__subtitle">Extras</h3>

                <ul class="shop-slide__list list-reset flex">
                  <li class="shop-slide__item">
                    <img src="img/shop-pic-1.png" alt="Sticker" width="106" height="108" class="shop-slide__logo shop-slide__logo--one">

                    <span class="shop-slide__heading">Sex Wax</span>
                    <span class="shop-slide__cost">$24.99</span>
                  </li>

                  <li class="shop-slide__item">
                    <img src="img/shop-pic-2.png" alt="Bracelet" width="120" height="96"  class="shop-slide__logo shop-slide__logo--two">

                    <span class="shop-slide__heading">Pura Vida</span>
                    <span class="shop-slide__cost">$27.99</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
