<section class="sleep" id="sleep">
  <div class="container sleep__container">
    <h2 class="title sleep__title">Sleep</h2>

    <div class="swiper sleep__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="sleep-slide">
            <img src="img/sleep-bg.png" width="1100" alt="Australia Beach" class="sleep-slide__image">

            <div class="sleep-slide__top">
              <h3 class="sleep-slide__subtitle">Resorts</h3>

              <span class="sleep-slide__descr">Auberge&nbsp;<span class="sleep-slide__dash">|</span> Australia</span>
            </div>

            <div class="slider-navigation sleep-navigation sleep-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn sleep-navigation__btn sleep__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn sleep-navigation__btn sleep__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="sleep-slide__bottom">
              <h3 class="sleep-slide__subtitle sleep-slide__subtitle--bottom">Rating</h3>

              <span class="sleep-slide__descr sleep-slide__descr--bottom">Excellent</span>

              <img src="img/sleep-stars.svg" alt="" class="sleep-slide__img">
            </div>

            <img src="img/sleep-1.png" alt="" class="sleep-slide__pic">

            <div class="sleep-slide__footer">
              <ul class="sleep-slide__list list-reset flex">
                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption">Resort</h3>

                  <span class="sleep-slide__text">Auberge
                    Australia</span>
                </li>

                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption"># of&nbsp;Nights</h3>

                  <span class="sleep-slide__text">5 Nights</span>
                </li>

                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption"># of&nbsp;Guests</h3>

                  <span class="sleep-slide__text">4&nbsp;Guests</span>
                </li>

                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption">Pricing</h3>

                  <span class="sleep-slide__text"><span class="sleep-slide__symbol">$</span>349&nbsp;USD</span>

                  <span class="sleep-slide__string">Per Night</span>
                </li>
              </ul>
            </div>

            <div class="sleep-slide__booking flex-h-center">
              <span class="sleep-slide__book">Book Stay</span>

              <a href="#hero" class="surf-card__btn btn-reset" data-scroll>
                <img src="img/svg/right-arrow.svg" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="sleep-slide">
            <img src="img/sleep-bg.png" width="1100" alt="Australia Beach" class="sleep-slide__image">

            <div class="sleep-slide__top">
              <h3 class="sleep-slide__subtitle">Resorts</h3>

              <span class="sleep-slide__descr">Auberge&nbsp;<span class="sleep-slide__dash">|</span> Australia</span>
            </div>

            <div class="slider-navigation sleep-navigation sleep-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn sleep-navigation__btn sleep__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn sleep-navigation__btn sleep__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="sleep-slide__bottom">
              <h3 class="sleep-slide__subtitle sleep-slide__subtitle--bottom">Rating</h3>

              <span class="sleep-slide__descr sleep-slide__descr--bottom">Excellent</span>

              <img src="img/sleep-stars.svg" alt="" class="sleep-slide__img">
            </div>

            <img src="img/sleep-1.png" alt="" class="sleep-slide__pic">

            <div class="sleep-slide__footer">
              <ul class="sleep-slide__list list-reset flex">
                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption">Resort</h3>

                  <span class="sleep-slide__text">Auberge
                    Australia</span>
                </li>

                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption"># of&nbsp;Nights</h3>

                  <span class="sleep-slide__text">5 Nights</span>
                </li>

                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption"># of&nbsp;Guests</h3>

                  <span class="sleep-slide__text">4&nbsp;Guests</span>
                </li>

                <li class="sleep-slide__item">
                  <h3 class="sleep-slide__caption">Pricing</h3>

                  <span class="sleep-slide__text"><span class="sleep-slide__symbol">$</span>349&nbsp;USD</span>

                  <span class="sleep-slide__string">Per Night</span>
                </li>
              </ul>
            </div>

            <div class="sleep-slide__booking flex-h-center">
              <span class="sleep-slide__book">Book Stay</span>

              <a href="#hero" class="surf-card__btn btn-reset" data-scroll>
                <img src="img/svg/right-arrow.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
