<section class="travel" id="travel">
  <div class="container travel__container">
    <h2 class="title travel__title">Travel</h2>

    <div class="swiper travel__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="travel-slide">
            <img src="img/travel-1.png" width="1100" alt="Australia Beach" class="travel-slide__image">

            <div class="travel-slide__top">
              <h3 class="travel-slide__subtitle">Shore</h3>

              <span class="travel-slide__descr">Airlie Beach&nbsp;<span class="travel-slide__dash">|</span> Australia</span>
            </div>

            <div class="slider-navigation travel-navigation travel-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn travel-navigation__btn travel__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn travel-navigation__btn travel__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="travel-slide__bottom">
              <h3 class="travel-slide__subtitle travel-slide__subtitle--bottom">Airline</h3>

              <span class="travel-slide__descr travel-slide__descr--bottom">Virgin Australia</span>

              <img src="img/travel-virgin-icon.svg" alt="" class="travel-slide__img">
            </div>

            <img src="img/travel-plane.png" alt="" class="travel-slide__pic">

            <div class="travel-slide__footer">
              <ul class="travel-slide__list list-reset flex">
                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Destination</h3>

                  <span class="travel-slide__text">Queensland Australia</span>
                </li>

                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Distance</h3>

                  <span class="travel-slide__text">7,065 Miles</span>
                </li>

                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Travel Time</h3>

                  <span class="travel-slide__text">23&nbsp;Hours
                    5&nbsp;Minutes</span>
                </li>

                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Pricing</h3>

                  <span class="travel-slide__text">$ 1,976 USD</span>

                  <span class="travel-slide__string">Round Trip</span>
                </li>
              </ul>
            </div>

            <div class="surf-card__bottom flex-v-center">
              <span class="surf-card__text">View Surf</span>

              <button class="surf-card__btn btn-reset">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="travel-slide__booking flex-h-center">
              <span class="travel-slide__book">Book Flight</span>

              <a href="#hero" class="surf-card__btn btn-reset" data-scroll>
                <img src="img/svg/right-arrow.svg" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="travel-slide">
            <img src="img/travel-1.png" width="1100" alt="Australia Beach" class="travel-slide__image">

            <div class="travel-slide__top">
              <h3 class="travel-slide__subtitle">Shore</h3>

              <span class="travel-slide__descr">Airlie Beach&nbsp;<span class="travel-slide__dash">|</span> Australia</span>
            </div>

            <div class="slider-navigation travel-navigation travel-navigation__top flex-v-center">
              <button class="btn-reset slider-navigation__btn travel-navigation__btn travel__prev">
                <img src="img/svg/left-arrow.svg" alt="">
              </button>

              <button class="btn-reset slider-navigation__btn travel-navigation__btn travel__next">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="travel-slide__bottom">
              <h3 class="travel-slide__subtitle travel-slide__subtitle--bottom">Airline</h3>

              <span class="travel-slide__descr travel-slide__descr--bottom">Virgin Australia</span>

              <img src="img/travel-virgin-icon.svg" alt="" class="travel-slide__img">
            </div>

            <img src="img/travel-plane.png" alt="" class="travel-slide__pic">

            <div class="travel-slide__footer">
              <ul class="travel-slide__list list-reset flex">
                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Destination</h3>

                  <span class="travel-slide__text">Queensland Australia</span>
                </li>

                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Distance</h3>

                  <span class="travel-slide__text">7,065 Miles</span>
                </li>

                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Travel Time</h3>

                  <span class="travel-slide__text">23&nbsp;Hours
                    5&nbsp;Minutes</span>
                </li>

                <li class="travel-slide__item">
                  <h3 class="travel-slide__caption">Pricing</h3>

                  <span class="travel-slide__text">$ 1,976 USD</span>

                  <span class="travel-slide__string">Round Trip</span>
                </li>
              </ul>
            </div>

            <div class="surf-card__bottom flex-v-center">
              <span class="surf-card__text">View Surf</span>

              <button class="surf-card__btn btn-reset">
                <img src="img/svg/right-arrow.svg" alt="">
              </button>
            </div>

            <div class="travel-slide__booking flex-h-center">
              <span class="travel-slide__book">Book Flight</span>

              <a href="#hero" class="surf-card__btn btn-reset" data-scroll>
                <img src="img/svg/right-arrow.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
